.img {
    border-radius: 50%;
    border: 1px solid white;
    height: 200px;
    width: 200px;
    margin-top: 50px;
  }

.bg {
    height: 70vh;
    width: 100%;
    background-color: black;
}

.bgImg {
    background-image: url('./red-lights.jpg');;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;

}
.text {
    padding-top: 300px;
    color: white;
    font-family: monospace;
}

.animatedtext {
    color: white;
    font-family: monospace;
    font-size: 30px;
}